
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Light purple background */
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #C7B8EA; /* White background for container */
    border: 2px solid #333333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-section {
    margin-bottom: 10px;
}

.form-section h2 {
    margin-top: 20px;
    height: 50px; 
    text-align: center;
    color: #333366; /* Purple color for headings */
    font-size: 30px; /* Increased font size */
}

label {
    display: block;
    margin-bottom: 1px;
    color: #000000; /* Black color for labels */
    font-size: 22px; /* Increased font size */
}

input[type="text"], input[type="tel"], input[type="password"], input[type="number"] {
    width: 95%;
    height: 20px; /* Increased height */
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px; /* More rounded corners */
    background-color: #f9f9f9; /* Light gray background for inputs */
    font-size: 16px; /* Increased font size */
}

.card-type {
    margin-bottom: 2px;
}

.card-type label {
    display: inline-block;
    margin-right: 20px;
    font-size: 18px; /* Increased font size */
}

button[type="submit"] {
    background-color: #6c5ce7; /* Purple color for button */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-size: 30px; /* Increased font size */
}

button[type="submit"]:hover {
    background-color: #5c4ce6; /* Darker purple color on hover */
}
.row {
  display: flex;
  gap: 25px;        /* expiry aur cvv ke beech spacing */
}

.row .field {
  flex: 1;          /* dono same width lenge */
  display: flex;
  flex-direction: column;
    }
